RSE_survey_2026_data
*_files
.agents/*
agent/*
*_cache
Rplots.pdf
*.html
!rse-book/_book/**
rse-book/_book/
rse-book/*.zip
skills-lock.json
!insights.html
*.log
!rse-book/_book.zip
rse-survey-2026-nordic-analysis-book.zip
rse-survey-2026-nordic-analysis-book/*


# survey data
data/

# cache
*__pycache__

# notebooks
notebooks/*.ipynb